{% extends 'base.html.twig' %}

{% block title %}Hello StartQuizController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <table class="table table-bordered">
        <thead>
        {% set counter = 0 %}
        {% for question in quiz.questions %}
        <script type="text/javascript">
            function colorButton1(getTrue, id){
                {$('#'+id).css("background-color","green")}
            }
        </script>
        <script type="text/javascript">
            function colorButton2(id){
                {$('#'+id).css("background-color","red")}
                }
        </script>
            <tr>
                <td colspan="3">{{question.questions}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for answer in question.answers %}
                    <th>
                            {% if answer.getIsTrue() == true %}
                                <a href="#" type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" id="{{ answer.id }}" onclick="colorButton1({{answer.getIsTrue}}, {{ answer.id}})">
                                    {{ answer.answers}}
                                    {% set counter = counter + 1 %}
                                </a>
                            {% else %}
                                <a href="#" type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" id="{{ answer.id }}" onclick="colorButton2({{ answer.id}})">
                                    {{ answer.answers}}
                                    {% set counter = counter + 1 %}
                                </a>
                            {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
